.media {
	display: flex;
	flex-direction: column;
	width: 223px;
	padding: 5px;
	margin: 10px 0px;
	background-color: #264d73;
	border-radius: 10px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

.media:hover {
	background-color: #1aa3ff;
	color: black;
}

@media (max-width: 550px) {
	.media {
		width: 46%;
	}
}

.card {
	display: flex;
	flex-direction: column;
	width: 220px;
	padding: 5px;
	margin: 5px 0;
	background-color: #264d73;
	border-radius: 10px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
.card:hover {
	background-color: #1aa3ff;
	color: black;
}

@media (max-width: 550px) {
	.card {
		width: 46%;
	}
}

.moviePoster {
	border-radius: 10px;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 17px;
	padding: 8px 0;
}

.details {
	text-align: center;
	/* display: flex; */
	justify-content: space-between;
	padding-bottom: 3px;
	padding: 0 2px;
	padding-bottom: 3px;
}
